In [ ]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os


#read csv files
df1 = pd.read_csv('New_Delhi_reviews.csv')
df2 = pd.read_csv('tripadvisor_hotel_reviews.csv')

In [ ]:
df1.head()

In [ ]:
df2.head()

In [ ]:
#check if values from df1 are in df2
df1['is_in_df2'] = df1['review_full'].isin(df2['Review'])

In [ ]:
df1['is_in_df2'].value_counts()

In [ ]:
#check if values from df2 are in df1
df2['is_in_df1'] = df2['Review'].isin(df1['review_full'])

In [ ]:
from check_english import detect_language

df1_new = detect_language(df1)

df2_new = detect_language(df2)